.mainPage_wrapper {
  box-sizing: border-box;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  padding: 2%;
  height: 100svh;
}
.mainPage_header {
  box-sizing: border-box;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--dark-pink);
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.5%;
  height: 15svh;
  min-height: 100px;
}
.mainPage_header-title {
  align-self: center;
}
.mainPage_header-userData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.mainPage_label {
  white-space: nowrap;
  overflow-y: hidden;
}
.mainPage_button-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.mainPage_button {
  width: 4em;
  font-size: 1em;
  display: flex;
  text-align: center;
  align-self: flex-end;
  justify-content: center;
  background-color: var(--pink);
  border: 2px outset var(--dark);
  border-radius: 15px;
  cursor: pointer;
}
.mainPart_wrapper {
  box-sizing: border-box;
  border: 1px solid var(--dark-pink);
  border-radius: 20px;
  margin-top: 1%;
  width: 100%;
  height: 75svh;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
}

.userList_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  padding: 0 2%;
  border-right: 1px solid var(--dark-pink);
}
.userList_input {
  width: 95%;
}
.userList {
  box-sizing: border-box;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  scrollbar-width: thin;
}

.userList_user {
  white-space: nowrap;
  color: var(--inactive);
  padding-left: -10px;
}
.userList_user-logined {
  color: var(--active);
}
.userList_user-hide {
  display: none;
}

.mainPage_footer {
  height: 9svh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 500px;
  font-size: 0.7em;
}
.mainPage_github-link {
  text-decoration: none;
}
.mainPage_github-icon {
  width: 40px;
  height: 40px;
  background-image: src('./img/github-icon.svg');
}

@media all and (max-width: 850px) {
  .mainPage_wrapper{
    width: 100%;
  }
}

@media all and (max-width: 900px) {
  .mainPage_wrapper{
    font-size: 20px;
  }
}


@media all and (max-width: 600px) {
  .mainPage_footer{
    width: 90%;
    max-width: unset;
    font-size: 0.9em;
  }
  .mainPage_wrapper{
    font-size: 16px;

  }
  .mainPage_header{
    min-height: unset;
  }
}

@media all and (max-width: 500px) {
  .mainPage_wrapper{
    font-size: 12px;
  }
  .mainPage_header{
    height: 12svh;
  }
  .mainPart_wrapper{
    height: 75svh;
  }
}
