.mainPage_wrapper {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  padding: 2%;
  height: 100svh;
}
.mainPage_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--dark-pink);
  border-radius: 20px;
  margin: 0 auto;
  padding: 2%;
  height: 15svh;
}
.mainPage_header-title {
  align-self: center;
}
.mainPage_header-userData {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 10px;
}
.mainPage_button {
  width: 4em;
  font-size: 1em;
  display: flex;
  text-align: center;
  align-self: flex-end;
  justify-content: center;
  background-color: var(--pink);
  border: 2px outset var(--dark);
  border-radius: 15px;
  cursor: pointer;
}
.mainPart_wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 70svh;
  padding: 2%;
  display: flex;
  flex-direction: row;
}

.userList_wrapper {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 30%;
  padding: 2%;
  border-right: 1px solid var(--dark-pink);
}
.userList_input {
  width: 95%;
}
.userList {
  box-sizing: border-box;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.userList_user {
  color: var(--inactive);
}
.userList_user-logined {
  color: var(--active);
}
.userList_user-hide {
  display: none;
}

.mainPage_footer {
  height: 10svh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 500px;
  font-size: 0.7em;
}
.mainPage_github-link {
  text-decoration: none;
}
.mainPage_github-icon {
  width: 40px;
  height: 40px;
  background-image: src('./img/github-icon.svg');
}

@media all and (max-width: 850px) {
  .mainPage_wrapper{
    width: 90%;
  }
}
@media all and (max-width: 550px) {
  .mainPage_footer{
    width: 90%;
    max-width: 90%;
  }
  .mainPage_wrapper{
    font-size: 20px;
  }
}